In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../Data/ebook/ebook_namiya_1.csv')

In [7]:
df = df.dropna(axis=0)

In [8]:
len(df)

2623

In [9]:
df2 = pd.read_csv('../Data/리뷰순/나미야 잡화점의 기적.csv')

In [10]:
df_row = pd.concat([df,df2])

In [12]:
len(df_row)

4633

In [13]:
df_row.head()

,Unnamed: 0,part,title,rating,text
0,0.0,소설,나미야 잡화점의 기적,1,굳이 이런 가벼운 글을 읽기 위해 책을 사야하는지....\r\n동네 도서관에서 빌려...
1,1.0,소설,나미야 잡화점의 기적,4,"스스로 비관적이고 부정적인 성격이라고 생각이 든다면 한번 읽어보시길,,,왠만한 자기..."
2,2.0,소설,나미야 잡화점의 기적,3,영화부터 봤는데 엄청 재미없어서 소설은 어떨까 했다. 진짜 재미없는 이야기면 어쩌지...
3,3.0,소설,나미야 잡화점의 기적,4,나미야 잡화점의 기적... 명작이라고 생각한다!! 추리소설도 아닌 소설이 추리소설처...
4,4.0,소설,나미야 잡화점의 기적,4,궁금해서 계속 읽게 됩니다. 흥미롭고 빠져드는 이야기

In [15]:
def rating_to_label(rating):
    if rating > 2:
        return 1
    else:
        return 0
    
df_row['label'] = df_row['rating'].apply(lambda x: rating_to_label(x))

In [19]:
df_label = df_row.drop(['Unnamed: 0','part','title'], axis=1)

In [20]:
len(df_label)

4633

In [21]:
df_label

      rating                                               text  label
0          1  굳이 이런 가벼운 글을 읽기 위해 책을 사야하는지....\r\n동네 도서관에서 빌려...      0
1          4  스스로 비관적이고 부정적인 성격이라고 생각이 든다면 한번 읽어보시길,,,왠만한 자기...      1
2          3  영화부터 봤는데 엄청 재미없어서 소설은 어떨까 했다. 진짜 재미없는 이야기면 어쩌지...      1
3          4  나미야 잡화점의 기적... 명작이라고 생각한다!! 추리소설도 아닌 소설이 추리소설처...      1
4          4                      궁금해서 계속 읽게 됩니다. 흥미롭고 빠져드는 이야기      1
...      ...                                                ...    ...
2005       4                     읽고싶어서 구매했어요~ 선물용으로도 좋을 것 같아요^^      1
2006       4                 도서관에서 읽고 소장하려고 사버렸네요 여운이많이남는책입니다..      1
2007       4                 선물용으로 또 구매했어요 그만큼 추천해요 지친 당신에게 힘을!      1
2008       4                                 술술 잘읽혀요 ㅎ 너무 재밌습니다      1
2009       4           꼭 한번 읽어보아야할책 일가친척 사돈의 팔촌까지 추천해줘도 아깝지 않다.      1

[4633 rows x 3 columns]

In [23]:
df_label.rename(columns = {'text':'document'},inplace=True)

In [27]:
df_label = df_label.drop(['rating'],axis=1)

In [28]:
df_label

                                               document  label
0     굳이 이런 가벼운 글을 읽기 위해 책을 사야하는지....\r\n동네 도서관에서 빌려...      0
1     스스로 비관적이고 부정적인 성격이라고 생각이 든다면 한번 읽어보시길,,,왠만한 자기...      1
2     영화부터 봤는데 엄청 재미없어서 소설은 어떨까 했다. 진짜 재미없는 이야기면 어쩌지...      1
3     나미야 잡화점의 기적... 명작이라고 생각한다!! 추리소설도 아닌 소설이 추리소설처...      1
4                         궁금해서 계속 읽게 됩니다. 흥미롭고 빠져드는 이야기      1
...                                                 ...    ...
2005                     읽고싶어서 구매했어요~ 선물용으로도 좋을 것 같아요^^      1
2006                 도서관에서 읽고 소장하려고 사버렸네요 여운이많이남는책입니다..      1
2007                 선물용으로 또 구매했어요 그만큼 추천해요 지친 당신에게 힘을!      1
2008                                 술술 잘읽혀요 ㅎ 너무 재밌습니다      1
2009           꼭 한번 읽어보아야할책 일가친척 사돈의 팔촌까지 추천해줘도 아깝지 않다.      1

[4633 rows x 2 columns]

In [29]:
df_label.to_csv('./namiya_label.csv')

In [ ]:
x = df_label
y = df_label['label']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state=1)

In [30]:
data = pd.read_csv('./namiya_label_tab.csv')

In [32]:
data.columns

Index(['id\tdocument\tlabel'], dtype='object')