In [1]:
import pandas as pd

## 인덱스 삭제 후 저장

In [20]:
df1 = pd.read_csv('나미야 잡화점의 기적.csv')
df1.head(3)

   Unnamed: 0 part        title rating                         text
0           0   소설  나미야 잡화점의 기적   평점5점  과거와 현재를 넘나들며 기적과 감동을 선사하는 책
1           1   소설  나미야 잡화점의 기적   평점4점           30년의 타임슬립을 통한 고민상담
2           2   소설  나미야 잡화점의 기적   평점5점                 술술 읽히고 재밌습니다

In [12]:
df1.shape

(1225, 4)

In [21]:
df1.drop('Unnamed: 0',  axis=1, inplace=True)
df1.head(3)

  part        title rating                         text
0   소설  나미야 잡화점의 기적   평점5점  과거와 현재를 넘나들며 기적과 감동을 선사하는 책
1   소설  나미야 잡화점의 기적   평점4점           30년의 타임슬립을 통한 고민상담
2   소설  나미야 잡화점의 기적   평점5점                 술술 읽히고 재밌습니다

In [6]:
df1.reset_index(inplace=True)
df1.head(3)

   index                                           document  label
0      0  책 받자마자 순식간에 읽고 리뷰 남깁니다. 평소 너무 좋아하던 작가님의 신작이기에,...      1
1      1  기대를 많이 받는 책이라, 기다림과 곡절이 많나봐요 :) 예상했던 날짜에 좋은 상태...      1
2      2         가독성이 너무 좋다. 위로가 많이 됐고 배울 내용이 많은 멘토같은 책이었다.      1

In [5]:
df1.drop('Unnamed: 0', axis=1, inplace=True)
df1.head(3)

  part title  rating                                               text
0   인문  사피엔스       4  세계사를 이보다 더 간단히 그리고 자세히 기술한 책은 없을 것이라는 것은 제쳐두고라...
1   인문  사피엔스       2                                                NaN
2   인문  사피엔스       4                                               정독함.

In [31]:
df1.drop('part', axis=1, inplace=True)
df1.head(3)

,index,date,rating,text,y
0,0,2022-08-02,1.0,내가 이 책을 왜 샀지. 생각하게 하는 책이에요. 깊이도 없고 이론적 바탕도 없고 ...,0
1,1,2022-08-03,1.0,최근 구매한 책중 가장 기발했네요. 본인일기라고 하신 댓글에 공감하구요. 인스타 광...,0
2,2,2022-08-12,4.0,모든 엄마가 공감하고 직접 적용해 볼 수 있는 하브루타 대화를 제시한다,1

In [32]:
df1.drop('rating', axis=1, inplace=True)
df1.head(3)

   index        date                                               text  y
0      0  2022-08-02  내가 이 책을 왜 샀지. 생각하게 하는 책이에요. 깊이도 없고 이론적 바탕도 없고 ...  0
1      1  2022-08-03  최근 구매한 책중 가장 기발했네요. 본인일기라고 하신 댓글에 공감하구요. 인스타 광...  0
2      2  2022-08-12            모든 엄마가 공감하고 직접 적용해 볼 수 있는 하브루타 대화를 제시한다  1

In [33]:
df1.rename(columns = {'index':'id', 'text':'document', 'y':'label'}, inplace=True)
df1.head(3)

   id        date                                           document  label
0   0  2022-08-02  내가 이 책을 왜 샀지. 생각하게 하는 책이에요. 깊이도 없고 이론적 바탕도 없고 ...      0
1   1  2022-08-03  최근 구매한 책중 가장 기발했네요. 본인일기라고 하신 댓글에 공감하구요. 인스타 광...      0
2   2  2022-08-12            모든 엄마가 공감하고 직접 적용해 볼 수 있는 하브루타 대화를 제시한다      1

In [14]:
df1.to_csv('나미야 잡화점의 기적.csv', index=None)

## 이름 바꾸기 후 저장

In [19]:
df = pd.read_csv('파친코.csv', on_bad_lines='skip')
df.head(3)

,part,title,date,rating,text
0,소설,파친코 1,2022-08-02,4,2권 2권 2권!!!!! 급해요!!!!! ㅋㅋㅋㅋ
1,소설,파친코 1,2022-08-03,4,유튜브에서 짤막한 영상보고 너무나 궁금해서 사전예약 후 구매했습니다.\n흡입력이 대...
2,소설,파친코 1,2022-08-02,4,"책을 쥐고 읽기시작하여 그내용에점점 빠져들어 결국엔 다읽고 말았다 내고향이기도한, ..."

In [20]:
change = {'part' : {'소설':'국외소설'}}
result = df.replace(change)
result

,part,title,date,rating,text
0,국외소설,파친코 1,2022-08-02,4,2권 2권 2권!!!!! 급해요!!!!! ㅋㅋㅋㅋ
1,국외소설,파친코 1,2022-08-03,4,유튜브에서 짤막한 영상보고 너무나 궁금해서 사전예약 후 구매했습니다.\n흡입력이 대...
2,국외소설,파친코 1,2022-08-02,4,"책을 쥐고 읽기시작하여 그내용에점점 빠져들어 결국엔 다읽고 말았다 내고향이기도한, ..."
3,국외소설,파친코 1,2022-08-01,4,원서 다 읽어가는데 타이밍맞게 번역본 나와서 좋습니다 먹먹하네요.. 이 시대 태어난...
4,국외소설,파친코 1,2022-07-15,4,기다렸던 책이라 바로 구매했어요! 바뀐 표지와 책갈피도 예쁘네요!!
...,...,...,...,...,...
774,국외소설,참을 수 없는 존재의 가벼움,2019-05-31,4,위대한 작품은 읽어봐야.
775,국외소설,참을 수 없는 존재의 가벼움,2019-05-27,3,제가 이해하고 깊게 느끼기엔 아직 어려운 책입니다. 그렇지만 시간이 흐른 뒤 꼭 다...
776,국외소설,참을 수 없는 존재의 가벼움,2019-05-21,4,굳굳 표지도 예쁨 ㅋㅋ
777,국외소설,참을 수 없는 존재의 가벼움,2019-05-18,4,너무 좋아요 ㅎㅎ 강추
778,국외소설,참을 수 없는 존재의 가벼움,2019-05-17,4,좋아요

In [13]:
result.to_csv('파친코.csv', index=None)